<div class="card col-md-8 col-md-offset-2">
    <h3 class="text-center"> Palomitas Player </h3>
    <p>
        Para comprobar el estado de los torrents, pulsa <a href="/status.html">aquí</a>.
    </p>
    <p>
        Para ver videos en formatos .avi o .mkv que no funcionan en HTML5 usa un reproductor externo como
        <a href="https://mpv.io">MPV</a> o <a href="https://videolan.org">VLC</a>
        para tu ordenador o <a href="https://www.reddit.com/r/PopcornTimeCE/">Popcorn Time</a> para tu movil. Este servidor solo almacena los videos temporalmente, asi que para mantener el video disponible esta pagina debe estar abierta.
    </p>
    <div id="media" class="text-center">
        <video src="{{url}}" id="video" controls autoplay></video>
        <pre>{{url}}</pre>
    </div>
</div>